<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Welcome to Odin Facebook Clone, <%= @user.name %></h1>
		<p>
			Your username is: <%= @user.email %>.<br>
		</p>
		<p>
			Login link: <%= @url %>.
		</p>
	</body>
</html>