<h1>All Users</h1>

<table>
	<tr>
		<th></th>
		<th>Name</th>
		<th>Email</th>
	</tr>
<% @users.each do |user| %>
	<tr>
		<td><%= image_tag avatar_for(user) %></td>
		<td><%= user.name %></td>
		<td><%= user.email %></td>
		<%= render partial: 'shared/add_friend_partial.html.erb', locals: { user: user } %>
	</tr>
<% end %>
