<% unless current_user.friends.include?(@user) || user == current_user || friend_request_already_sent?(current_user.id, user.id) %>
	<td><%= link_to "Add Friend", friend_requests_path( friend_request: { recipient_id: user.id, sender_id: current_user.id }) %></td>
<% end %>